@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
*{
  box-sizing: border-box; 
}
/* Your custom class */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.font-one{
  font-family: Playwrite+NZ+Basic;  
}
.font-two{
  font-family: Libertinus ;
}
.font-three{
  font-family: Asimovian; 
    margin: 0 !important;  
    padding: 0 !important;
  line-height: 0.8 !important; 
}
.font-four{
  font-family: Roboto;
}
::selection {
  background: #c29dff;   
  color: black;        
  line-height: 0%;  
}
 
.header-scroll{
  background: rgba(103, 71, 177, 0.6) 100%;
  backdrop-filter: blur(10px);
  
}
.hero-bg {
   background: rgb(103, 71, 177) 100%;
}